.cards-wraper{
  max-width: 1162px;
}
.cards > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  margin: 0;
    padding: 20px 0 12px;
}

.cards .cards-card-body {
  font-size: 24px;
  font-weight: 700;
  color: #2b2c2b;

}

.cards .button-container .button {
  margin: 18px 0 24px;
  box-sizing: border-box;
  background-color: #2B2C2B;
  border: 1px solid #2B2C2B;
  border-radius: 4px;
  color: #f8f8f8;
  min-width: 135px;
  max-width: 160px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 27px 10px 22px;
  cursor: pointer; 
}


.cards .button-container .button:hover {

  background-color: #ffffff;
  border: 1px solid #2B2C2B;
  color: #000000;
  cursor: pointer;
}

.cards .two-per-row li {
  box-sizing: border-box; 
  
}



.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  border: 1px solid #2B2C2B;
  padding: 5px;

}
.cards > ul > li:first-child {
  padding-left: 47px;
  padding-right: 15px;
  width: 41%;
  height: 350px;
  margin-right: 4%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.cards > ul > li:first-child .cards-card-image{
  position: relative;
  bottom: 100px; 
  left: 175px; 
  width: 235px;
  height: 225px;
 }

 /*text box*/
 .cards > ul > li:nth-child(1) > .cards-card-body{
  height: 69.969px;
  width: 170px;
}
/*text within box*/
.cards > ul > li:nth-child(1) > .cards-card-body:first-child > p:first-child{
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;

  line-height: 34.9992px;
  color: rgb(43, 44, 43);
}

.cards > ul > li:nth-child(2) {
  width: 50%;
  height: 350px;
  padding-right: 15px;
  padding-left: 47px;
  margin-right: 2%;
}

.cards > ul > li:nth-child(2) .cards-card-image{
  position: relative;
  bottom: 50px; 
  left: 200px; 
  width: 300px;
  height: 200px;
 }

 /*text box*/
.cards > ul > li:nth-child(2) > .cards-card-body{
  height: 69.969px;
  width: 400px;
}
/*text within box*/
.cards > ul > li:nth-child(2) > .cards-card-body:first-child > p:first-child{
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;

  line-height: 34.9992px;
  color: rgb(43, 44, 43);
}

.cards > ul > li:nth-child(3) {
  width: 50%;
  margin-right: 4%;
  margin-left: 1%;
  margin-bottom: 2%;
  height: 350px;
  padding-right: 15px;
  padding-left: 47px;

}

.cards > ul > li:nth-child(3) .cards-card-image{
  position: relative;
  bottom: 240px; 
  left: 251px;
  width: 300px;
  height: 300px;
 }
/*text box*/
.cards > ul > li:nth-child(3) > .cards-card-body{
  height: 104.953px;
  width: 205px;
}
/*text within box*/
.cards > ul > li:nth-child(3) > .cards-card-body:first-child > p:first-child{
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.9992px;
  color: rgb(43, 44, 43);
}

.cards > ul > li:nth-child(4) {
  padding-left: 47px;
  padding-right: 15px;
  width: 41%;
  height: 350px;
  margin-right: 2%;
  background-color: #cfe1ff;
}

.cards > ul > li:nth-child(4) .cards-card-image{
  position: relative;
  bottom: 159px; 
  left: 146px;
  width: 300px;
  height: 250px;

 }

 .cards > ul > li:nth-child(4) > .cards-card-body{
  height: 85px;
  width: 200px;
 }

 .cards > ul > li:nth-child(4) > .cards-card-body:first-child > p:first-child{
  color: #2c3a61;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  text-align: left;
 }
 .cards > ul > li:nth-child(4) > .cards-card-body:first-child > p:nth-child(2){
  color: #2c3a61;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.9992px;
 }
.cards .cards-card-body {
  margin: 16px;
}
