.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
.hero h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48.88px;
  height: 95.750px;
  width: 500px;
  color: #2c3a61;
  margin: 0px 38px 0px 50%;
}


.hero p{
  color: #2c3a61;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;  
  margin-block: 18px, 18px;
  text-align: left;
  height: 11.600px;
  width: 557.487px;
  margin-right: 38px;
  margin-left: 50%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 24px;
}

.hero.block .button-container .button{
  max-width: 176.400px;
  min-height: 58px;
  width: 100%;
  margin: 30px 0 0;
  color: rgb(44, 58, 97);
  background-color: rgb(247, 247, 248);
  border: rgb(247, 247, 248);
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 16px 16px 23px;
  text-align: left;
}

.hero.block .button-container .button:hover{
  background-color:  rgb(115, 150, 206);
  color: rgb(255, 255, 255);
  border-color: rgb(115, 150, 206);;
  cursor:pointer;

}

