.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
.hero h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48.88px;
  height: 95.750px;
  width: 500px;
  color: #2c3a61;
  margin: 0px 38px 0px 50%;
}


.hero p{
  color: #2c3a61;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;  
  margin-block: 18px, 18px;
  text-align: left;
  height: 11.600px;
  width: 557.487px;
  margin-right: 38px;
  margin-left: 50%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 24px;
}

 .button-container > a.button:any-link{
  max-width: 135.400px;
  min-height: 24px;
  width: 100%;
  margin: 30px 0 0;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  color: #2c3a61;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 10px 10px 10px;
}
