.section.prefooterhero-container .prefooterhero-wrapper {
  padding: 0px;
  height: 454px;
  width: 1380px;
  }


.prefooterhero {
  max-width: 1440px;
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  color: white;
  background-position: center;
}

.full-bleed {
  height: 470px;
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 18px 30px;
}

.prefooterhero .button-container{
  text-align: right;
  margin: auto;
}

.prefooterhero .button-container .button{
  display: inline-block;
  border-radius: 4px;
  background-color: #7396ce;
  border: 1px solid #7396ce;
  font-size: 1.3rem;
  max-width: 250px;
  transition: background-color .25s ease, border-color .25s ease;
  color: #FFF;
  text-decoration: none !important;
  box-sizing: border-box;
}

.prefooterhero.block > div > div{
  margin-top: 130px;
}

.prefooterhero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.prefooterhero h2 {
  text-align: right;
  margin: auto;
  margin-bottom: 32px;
}

.prefooterhero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  margin: 0 auto 43px;

}

.prefooterhero img {
  margin-bottom: 72px;
  padding: 18px 30px;
  justify-content: start;
  height: 454px;
  width: 1380px;
}

@media (width >= 900px) {
  .prefooterhero {
    padding: 40px 32px;
  }
}